.contact-cta{
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    /* border: 2px solid #fff; */
    padding: 50px;
}
.contact-cta > p {
    font-size: larger;
    margin-bottom: 35px;
}
#contact-link {
    padding: 13px;
    background-color: orangered;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 8px orangered;
    transition: .3s;
}
#contact-link:hover {
    background-color: rgb(23, 20, 20);
    color: blue;
    border: 1px solid #77706d;
    /* box-shadow: 0px 0px 14px rgb(234, 226, 223); */
    box-shadow: 0px 0px 8px rgb(16, 122, 228);

}

/* Small screens (mobile) */
@media (max-width: 768px) {
    .contact-cta {
        padding: 30px 15px;
        margin-top: 30px;
    }

    .contact-cta > p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    #contact-link {
        padding: 10px 12px;
        font-size: 14px;
    }
}

/* Medium screens (tablet / small laptop) */
@media (min-width: 769px) and (max-width: 1200px) {
    .contact-cta {
        padding: 40px 25px;
        margin-top: 40px;
    }

    .contact-cta > p {
        font-size: 18px;
        margin-bottom: 25px;
    }

    #contact-link {
        padding: 12px 14px;
        font-size: 15px;
    }
}

/* Extra large screens (big monitors) */
@media (min-width: 1920px) {
    .contact-cta {
        padding: 80px 100px;
        margin-top: 60px;
    }

    .contact-cta > p {
        font-size: 24px;
        margin-bottom: 35px;
    }

    #contact-link {
        padding: 16px 18px;
        font-size: 18px;
    }
}
